<%- include('partials/header', {query})%>
  <body>
  <%- include("partials/navbar")%>
    <div class="d-inline-flex" style="margin-top:10px">
      <div class="d-inline-flex flex-wrap" style="max-width:45%;">
        <div class="card">
          <% if (movieImg) { %>
            <img name='imgSrc'src="<%= movieImg %>" class="card-img-top"style="max-width:25%;"  alt="...">
            <% } else { %>
              <img src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" class="card-img-top" alt="...">
            <% } %>
            <div class="card-body">
              <h5 class="card-title" name='movieTitle'><%=movieTitle%></h5>
              <p class="card-text" name='movieSummary'><%=movieSummary%></p>
            </div>
        </div>
      </div>
      <form action="/review/newpost" method="POST" style="margin-left:10px">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Review Box</label>
          <textarea name='comment' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input type="hidden" name="movieTitle" value="<%=movieTitle%>">
        <input type="hidden" name="movieSummary" value="<%=movieSummary%>">
        <input type="hidden" name="imgSrc" value="<%=movieImg%>">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>

