<%- include('partials/header') %>
  <body>
  <%- include("partials/navbar") %>
  <div class="d-inline-flex p-2">
    <% for (let i = 0; i < 5; i++) { %>
  <div class="card" style="width: 18rem; margin:15px;">
    <% if (result[i].show.image) { %>
    <img src="<%= result[i].show.image.medium %>" class="card-img-top" alt="...">
        <% } else { %>
    <img src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" class="card-img-top" alt="...">
        <% } %>
    <div class="card-body">
      <h5 class="card-title"><%=result[i].show.name%></h5>
      <p class="card-text"><%=result[i].show.summary.replace(/<\/?p>/g, "").replace(/<\/?b>/g, "").replace(/<\/?i>/g, "")%></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
   <% } %>
  </div>
  </body>
</html>

